<h1> Data Analytics Project </h1>

<h3> United Kingdom Road Accident Data Analysis </h3>
<h3> Inclusive Years: 2019 - 2022 </h3>
<h5> Analyst:Francis Raven Salamo</h5>

In [36]:
pip install scipy

Requirement already satisfied: scipy in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (1.13.0)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy<2.3,>=1.22.4 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from scipy) (1.26.0)

In [37]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import f_oneway
import warnings
warnings.filterwarnings('ignore')

In [38]:
accident = pd.read_csv('Penguin\\accident_data.csv')

In [39]:
accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,05/06/2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,02/07/2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26/08/2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16/08/2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,03/09/2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,18/02/2022,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,21/02/2022,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,23/02/2022,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,23/02/2022,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,28/02/2022,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

<h1> Data Preparation </h1>

In [40]:
accident.dtypes

Index                       object
Accident_Severity           object
Accident Date               object
Latitude                   float64
Light_Conditions            object
District Area               object
Longitude                  float64
Number_of_Casualties         int64
Number_of_Vehicles           int64
Road_Surface_Conditions     object
Road_Type                   object
Urban_or_Rural_Area         object
Weather_Conditions          object
Vehicle_Type                object
dtype: object

In [41]:
accident.describe()

            Latitude      Longitude  Number_of_Casualties  Number_of_Vehicles
count  660654.000000  660653.000000         660679.000000       660679.000000
mean       52.553866      -1.431210              1.357040            1.831255
std         1.406922       1.383330              0.824847            0.715269
min        49.914430      -7.516225              1.000000            1.000000
25%        51.490690      -2.332291              1.000000            1.000000
50%        52.315641      -1.411667              1.000000            2.000000
75%        53.453452      -0.232869              1.000000            2.000000
max        60.757544       1.762010             68.000000           32.000000

In [42]:
accident['Accident_Severity'] = accident['Accident_Severity'].astype('category')

In [43]:
accident['Accident_Severity'].value_counts()

Accident_Severity
Slight     563801
Serious     88217
Fatal        8661
Name: count, dtype: int64

<h1> Converting Object to DateTime Data Type </h1>

In [44]:
accident['Accident Date'] = pd.to_datetime(accident['Accident Date'], dayfirst = True, errors = 'coerce')

In [45]:
accident.dtypes
# accident['Accident Date']

Index                              object
Accident_Severity                category
Accident Date              datetime64[ns]
Latitude                          float64
Light_Conditions                   object
District Area                      object
Longitude                         float64
Number_of_Casualties                int64
Number_of_Vehicles                  int64
Road_Surface_Conditions            object
Road_Type                          object
Urban_or_Rural_Area                object
Weather_Conditions                 object
Vehicle_Type                       object
dtype: object

<h1> Data Cleansing </h1>
<h3>Filling out null values</h3>

In [46]:
accident.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions      726
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

In [47]:
accident['Latitude'] = accident['Latitude'].fillna(accident['Latitude'].mode()[0])
accident['Longitude'] = accident['Longitude'].fillna(accident['Longitude'].mode()[0])  # Corrected here
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].fillna('unknown surface condition')
accident['Road_Type'] = accident['Road_Type'].fillna('unaccounted')
accident['Weather_Conditions'] = accident['Weather_Conditions'].fillna('unaccounted')
accident['Urban_or_Rural_Area'] = accident['Urban_or_Rural_Area'].fillna(accident['Urban_or_Rural_Area'].mode()[0])

In [48]:
accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
dtype: int64

In [49]:
accident['Index'] = accident['Index'].astype('category')
accident['Light_Conditions'] = accident['Light_Conditions'].astype('category')
accident['District Area'] = accident['District Area'].astype('category')
accident['Number_of_Casualties'] = accident['Number_of_Casualties'].astype('category')
accident['Number_of_Vehicles'] = accident['Number_of_Vehicles'].astype('category')
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].astype('category')
accident['Road_Type'] = accident['Road_Type'].astype('category')
accident['Urban_or_Rural_Area'] = accident['Urban_or_Rural_Area'].astype('category')
accident['Vehicle_Type'] = accident['Vehicle_Type'].astype('category')
accident['Weather_Conditions'] = accident['Weather_Conditions'].astype('category')

In [50]:
accident.dtypes

Index                            category
Accident_Severity                category
Accident Date              datetime64[ns]
Latitude                          float64
Light_Conditions                 category
District Area                    category
Longitude                         float64
Number_of_Casualties             category
Number_of_Vehicles               category
Road_Surface_Conditions          category
Road_Type                        category
Urban_or_Rural_Area              category
Weather_Conditions               category
Vehicle_Type                     category
dtype: object

<h1>Converting object to DateTime Data Type</h1>

In [51]:
accident['Accident Date'] = pd.to_datetime(accident['Accident Date'], dayfirst = True, errors = 'coerce')

In [52]:
accident.dtypes

Index                            category
Accident_Severity                category
Accident Date              datetime64[ns]
Latitude                          float64
Light_Conditions                 category
District Area                    category
Longitude                         float64
Number_of_Casualties             category
Number_of_Vehicles               category
Road_Surface_Conditions          category
Road_Type                        category
Urban_or_Rural_Area              category
Weather_Conditions               category
Vehicle_Type                     category
dtype: object

<h1> Insight 1 </h1>
<h3>  Are slight accidents more common on dual carriageways compared to other road types? </h3>

In [53]:
accidents = accident[(accident['Road_Type'] == 'Dual carriageway') &  
                     (accident['Accident_Severity'] == 'Slight')]
accidents

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
105,200701BS70092,Slight,2019-02-24,51.501749,Darkness - lights lit,Westminster,-0.160555,2,2,Dry,Dual carriageway,Urban,Fine no high winds,Car
124,200701BS70118,Slight,2019-03-08,51.498154,Daylight,Kensington and Chelsea,-0.166463,1,2,Dry,Dual carriageway,Urban,Fine no high winds,Taxi/Private hire car
128,200701BS70124,Slight,2019-03-17,51.494469,Daylight,Kensington and Chelsea,-0.195567,1,3,Dry,Dual carriageway,Urban,Fine no high winds,Motorcycle 50cc and under
133,200701BS70129,Slight,2019-03-25,51.507806,Daylight,Kensington and Chelsea,-0.203254,1,1,Dry,Dual carriageway,Urban,Fine no high winds,Car
150,200701BS70150,Slight,2019-03-30,51.498838,Darkness - lights lit,Kensington and Chelsea,-0.198997,1,2,Dry,Dual carriageway,Urban,Fine no high winds,Motorcycle 125cc and under
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660494,201091NH05258,Slight,2022-10-05,58.231643,Darkness - lights lit,Western Isles,-6.390280,1,2,Wet or damp,Dual carriageway,Rural,Fine no high winds,Car
660537,201091NJ05028,Slight,2022-04-15,58.322497,Daylight,Highland,-3.198929,1,1,Dry,Dual carriageway,Rural,Fine no high winds,Car
660625,201091NK06094,Slight,2022-12-05,58.997002,Darkness - no lighting,Orkney Islands,-3.080958,1,1,Frost or ice,Dual carriageway,Rural,Other,Goods over 3.5t. and under 7.5t
660650,201091NL06664,Slight,2022-11-30,60.250124,Daylight,Shetland Islands,-1.225334,1,2,Snow,Dual carriageway,Rural,Snowing + high winds,Van / Goods 3.5 tonnes mgw or under
660658,201091NM00102,Slight,2022-01-03,57.003355,Daylight,Highland,-4.169644,1,2,Snow,Dual carriageway,Rural,Other,Car

To determine if slight accidents are more common on dual carriageways compared to other road types, we would need to compare <p>the number of slight accidents on dual carriageways to the number of slight accidents on other road types (such as single carriageways, motorways, etc.).</p>

<h1> Insight 2 </h1>
<h3> How do different light conditions and road surface conditions impact accident severity? </h3>

In [54]:
accidents = accident.groupby(['Accident_Severity', 'Light_Conditions', 'Road_Surface_Conditions']).size()
print(accidents)

Accident_Severity  Light_Conditions             Road_Surface_Conditions
Fatal              Darkness - lighting unknown  Dry                              43
                                                Flood over 3cm. deep              1
                                                Frost or ice                      1
                                                Snow                              0
                                                Wet or damp                      23
                                                                              ...
Slight             Daylight                     Flood over 3cm. deep            492
                                                Frost or ice                   9103
                                                Snow                           3096
                                                Wet or damp                  100122
                                                unknown surface condition       475
Length: 90, dtype: int64

<h1> Insight 3 </h1>
<h3> How does accident severity vary by different types of vehicles involved? </h3>

In [55]:
accidents = accident.groupby(['Accident_Severity', 'Vehicle_Type']).size()  
print(accidents)

Accident_Severity  Vehicle_Type
Fatal              Agricultural vehicle                         21
                   Bus or coach (17 or more pass seats)        325
                   Car                                        6577
                   Data missing or out of range                  0
                   Goods 7.5 tonnes mgw and over               216
                   Goods over 3.5t. and under 7.5t              67
                   Minibus (8 - 16 passenger seats)             29
                   Motorcycle 125cc and under                  189
                   Motorcycle 50cc and under                    95
                   Motorcycle over 125cc and up to 500cc       105
                   Motorcycle over 500cc                       339
                   Other vehicle                                70
                   Pedal cycle                                   6
                   Ridden horse                                  0
                   Taxi/Private hire car                       155
                   Van / Goods 3.5 tonnes mgw or under         467
Serious            Agricultural vehicle                        282
                   Bus or coach (17 or more pass seats)       3373
                   Car                                       66461
                   Data missing or out of range                  0
                   Goods 7.5 tonnes mgw and over              2321
                   Goods over 3.5t. and under 7.5t             857
                   Minibus (8 - 16 passenger seats)            276
                   Motorcycle 125cc and under                 2031
                   Motorcycle 50cc and under                  1014
                   Motorcycle over 125cc and up to 500cc      1014
                   Motorcycle over 500cc                      3457
                   Other vehicle                               767
                   Pedal cycle                                  39
                   Ridden horse                                  0
                   Taxi/Private hire car                      1771
                   Van / Goods 3.5 tonnes mgw or under        4554
Slight             Agricultural vehicle                       1644
                   Bus or coach (17 or more pass seats)      22180
                   Car                                      424954
                   Data missing or out of range                  6
                   Goods 7.5 tonnes mgw and over             14770
                   Goods over 3.5t. and under 7.5t            5172
                   Minibus (8 - 16 passenger seats)           1671
                   Motorcycle 125cc and under                13049
                   Motorcycle 50cc and under                  6494
                   Motorcycle over 125cc and up to 500cc      6537
                   Motorcycle over 500cc                     21861
                   Other vehicle                              4800
                   Pedal cycle                                 152
                   Ridden horse                                  4
                   Taxi/Private hire car                     11368
                   Van / Goods 3.5 tonnes mgw or under       29139
dtype: int64

<h1>Insight 4</h1>
<h3>Which road type has the highest number of severe accidents? Do highways or intersections contribute more to accident severity?</h3>

In [56]:
accidents_by_road_severity = accident.groupby(['Road_Type', 'Accident_Severity']).size().reset_index(name='Accident_Count')
accidents_by_road_severity

             Road_Type Accident_Severity  Accident_Count
0     Dual carriageway             Fatal            1815
1     Dual carriageway           Serious           11746
2     Dual carriageway            Slight           85863
3       One way street             Fatal              95
4       One way street           Serious            1655
5       One way street            Slight           11809
6           Roundabout             Fatal             142
7           Roundabout           Serious            3665
8           Roundabout            Slight           40185
9   Single carriageway             Fatal            6527
10  Single carriageway           Serious           70059
11  Single carriageway            Slight          415557
12           Slip road             Fatal              49
13           Slip road           Serious             611
14           Slip road            Slight            6381
15         unaccounted             Fatal              33
16         unaccounted           Serious             481
17         unaccounted            Slight            4006

<h1>Insight 5</h1>
<h3>Are certain road types (e.g., single carriageway vs. motorways) more prone to severe accidents in rural or urban areas?<h3>

In [57]:
road_type_accidents = accident.groupby(['Urban_or_Rural_Area', 'Road_Type', 'Accident_Severity']).size().unstack().fillna(0)
road_type_accidents

Accident_Severity                       Fatal  Serious  Slight
Urban_or_Rural_Area Road_Type
Rural               Dual carriageway     1201     6005   41509
                    One way street          8      154    1031
                    Roundabout             62     1436   14047
                    Single carriageway   4276    29168  134566
                    Slip road              36      400    3858
                    unaccounted            18      149    1066
Unallocated         Dual carriageway        0        0       1
                    One way street          0        0       0
                    Roundabout              0        0       1
                    Single carriageway      0        1       8
                    Slip road               0        0       0
                    unaccounted             0        0       0
Urban               Dual carriageway      614     5741   44353
                    One way street         87     1501   10778
                    Roundabout             80     2229   26137
                    Single carriageway   2251    40890  280983
                    Slip road              13      211    2523
                    unaccounted            15      332    2940

<h1> Insight 6 </h1>
<h3>How do different lighting conditions (e.g., daylight, darkness with/without streetlights) impact accident severity? Are fatal accidents more common at night?</h3>

In [58]:
lighting_accidents = accident.groupby(['Light_Conditions', 'Accident_Severity'])['Accident_Severity'].count().unstack().fillna(0)
lighting_accidents

Accident_Severity            Fatal  Serious  Slight
Light_Conditions
Darkness - lighting unknown     68      794    5622
Darkness - lights lit         1860    19130  108345
Darkness - lights unlit         45      360    2138
Darkness - no lighting        1612     7174   28651
Daylight                      5076    60759  419045

<h1> Insight 7 </h1>
<h3>How do different road surface conditions (e.g., wet, dry, icy) impact accident severity? Are severe accidents more frequent on slippery roads?</h3>

In [59]:
accidents_by_surface_severity = accident.groupby(['Road_Surface_Conditions', 'Accident_Severity']).size().reset_index(name='Accident_Count')
accidents_by_surface_severity

      Road_Surface_Conditions Accident_Severity  Accident_Count
0                         Dry             Fatal            5788
1                         Dry           Serious           61638
2                         Dry            Slight          380395
3        Flood over 3cm. deep             Fatal              23
4        Flood over 3cm. deep           Serious             152
5        Flood over 3cm. deep            Slight             842
6                Frost or ice             Fatal             193
7                Frost or ice           Serious            2007
8                Frost or ice            Slight           16317
9                        Snow             Fatal              35
10                       Snow           Serious             565
11                       Snow            Slight            5290
12                Wet or damp             Fatal            2620
13                Wet or damp           Serious           23785
14                Wet or damp            Slight          160303
15  unknown surface condition             Fatal               2
16  unknown surface condition           Serious              70
17  unknown surface condition            Slight             654

<h1> Insight 8 </h1>
<h3>How do different road surface conditions (e.g., wet, dry, icy) affect the number of accidents? Are accidents more frequent on slippery surfaces?</h3>

In [60]:
accidents_by_road_surface = accident.groupby(['Road_Surface_Conditions']).size().reset_index(name='Accident_Count')
accidents_by_road_surface

     Road_Surface_Conditions  Accident_Count
0                        Dry          447821
1       Flood over 3cm. deep            1017
2               Frost or ice           18517
3                       Snow            5890
4                Wet or damp          186708
5  unknown surface condition             726

<h1> Insight 9 </h1>
<h3>The Relationship Between Light Conditions and Accident Severity </h3>

In [61]:
accidents_by_weather = accident.groupby('Weather_Conditions').size().reset_index(name='Accident_Count')
accidents_by_weather

      Weather_Conditions  Accident_Count
0      Fine + high winds            8554
1     Fine no high winds          520885
2            Fog or mist            3528
3                  Other           17150
4   Raining + high winds            9615
5  Raining no high winds           79696
6   Snowing + high winds             885
7  Snowing no high winds            6238
8            unaccounted           14128

<h1> Insight 10 </h1>
<h3>Do accidents at night lead to more severe outcomes?</h3>
<h5></h5>

In [62]:
accidents_by_light = accident.groupby(['Light_Conditions', 'Accident_Severity']).size().reset_index(name='Accident_Count')
accidents_by_light

               Light_Conditions Accident_Severity  Accident_Count
0   Darkness - lighting unknown             Fatal              68
1   Darkness - lighting unknown           Serious             794
2   Darkness - lighting unknown            Slight            5622
3         Darkness - lights lit             Fatal            1860
4         Darkness - lights lit           Serious           19130
5         Darkness - lights lit            Slight          108345
6       Darkness - lights unlit             Fatal              45
7       Darkness - lights unlit           Serious             360
8       Darkness - lights unlit            Slight            2138
9        Darkness - no lighting             Fatal            1612
10       Darkness - no lighting           Serious            7174
11       Darkness - no lighting            Slight           28651
12                     Daylight             Fatal            5076
13                     Daylight           Serious           60759
14                     Daylight            Slight          419045

<h1> Insight 11 </h1>
<h3>What is the Correlation Between Road Type and Number of Casualties</h3>
<h5></h5>

In [84]:
accidents_by_surface = accident.groupby('Road_Surface_Conditions')['Accident_Severity'].count().reset_index()
accidents_by_surface = accidents_by_surface.sort_values('Accident_Severity', ascending=False)
print(accidents_by_surface)

     Road_Surface_Conditions  Accident_Severity
0                        Dry             447821
4                Wet or damp             186708
2               Frost or ice              18517
3                       Snow               5890
1       Flood over 3cm. deep               1017
5  unknown surface condition                726

<h1> Insight 12 </h1>
<h3> What is the Correlation Between Light Conditions and Accident Severity</h3>
<h5></h5>

In [85]:
light_severity_corr = accident.groupby('Light_Conditions').agg({'Accident_Severity': 'count'})
light_severity_corr['Severity_Index'] = light_severity_corr['Accident_Severity'] / light_severity_corr['Accident_Severity'].sum()
light_severity_corr.sort_values('Severity_Index', ascending=False)

                             Accident_Severity  Severity_Index
Light_Conditions
Daylight                                484880        0.733912
Darkness - lights lit                   129335        0.195761
Darkness - no lighting                   37437        0.056664
Darkness - lighting unknown               6484        0.009814
Darkness - lights unlit                   2543        0.003849

<h1> Insight 13 </h1>
<h3> Finding the Most Dangerous Combination of Weather and Road Conditions</h3>
<h5></h5>

In [86]:
weather_road_severity = accident.groupby(['Weather_Conditions', 'Road_Surface_Conditions']).agg({'Accident_Severity': 'count'})
weather_road_severity['Severity_Index'] = weather_road_severity['Accident_Severity'] / weather_road_severity['Accident_Severity'].sum()
weather_road_severity.sort_values('Severity_Index', ascending=False)

                                                 Accident_Severity  \
Weather_Conditions    Road_Surface_Conditions
Fine no high winds    Dry                                   427799
                      Wet or damp                            81178
Raining no high winds Wet or damp                            78087
unaccounted           Dry                                    11223
Fine no high winds    Frost or ice                           10653
Other                 Wet or damp                             9366
Raining + high winds  Wet or damp                             9184
Fine + high winds     Dry                                     5023
Other                 Frost or ice                            4718
Snowing no high winds Snow                                    3659
Fine + high winds     Wet or damp                             3311
Other                 Dry                                     2628
Fog or mist           Wet or damp                             2316
unaccounted           Wet or damp                             1991
Snowing no high winds Frost or ice                            1411
                      Wet or damp                             1108
Fine no high winds    Snow                                    1043
Fog or mist           Frost or ice                             709
unaccounted           unknown surface condition                612
Snowing + high winds  Snow                                     549
Raining no high winds Flood over 3cm. deep                     548
                      Dry                                      547
Fog or mist           Dry                                      471
Other                 Snow                                     413
Raining no high winds Frost or ice                             404
Raining + high winds  Flood over 3cm. deep                     291
unaccounted           Frost or ice                             225
Fine + high winds     Frost or ice                             183
Snowing + high winds  Wet or damp                              167
                      Frost or ice                             162
Fine no high winds    Flood over 3cm. deep                     113
Raining no high winds Snow                                     106
Fine no high winds    unknown surface condition                 99
Raining + high winds  Dry                                       72
unaccounted           Snow                                      58
Snowing no high winds Dry                                       54
Raining + high winds  Frost or ice                              52
Fog or mist           Snow                                      27
unaccounted           Flood over 3cm. deep                      19
Fine + high winds     Snow                                      19
Other                 Flood over 3cm. deep                      19
Raining + high winds  Snow                                      16
Fine + high winds     Flood over 3cm. deep                      15
Snowing no high winds Flood over 3cm. deep                       6
Other                 unknown surface condition                  6
Raining no high winds unknown surface condition                  4
Snowing + high winds  Dry                                        4
                      Flood over 3cm. deep                       3
Fine + high winds     unknown surface condition                  3
Fog or mist           Flood over 3cm. deep                       3
                      unknown surface condition                  2
Snowing + high winds  unknown surface condition                  0
Snowing no high winds unknown surface condition                  0
Raining + high winds  unknown surface condition                  0

                                                 Severity_Index
Weather_Conditions    Road_Surface_Conditions
Fine no high winds    Dry                              0.647514
                      Wet or damp                      0.122871
Raining no high winds Wet or damp                      0.118192
unaccounted           Dry                              0.016987
Fine no high winds    Frost or ice                     0.016124
Other                 Wet or damp                      0.014176
Raining + high winds  Wet or damp                      0.013901
Fine + high winds     Dry                              0.007603
Other                 Frost or ice                     0.007141
Snowing no high winds Snow                             0.005538
Fine + high winds     Wet or damp                      0.005012
Other                 Dry                              0.003978
Fog or mist           Wet or damp                      0.003505
unaccounted           Wet or damp                      0.003014
Snowing no high winds Frost or ice                     0.002136
                      Wet or damp                      0.001677
Fine no high winds    Snow                             0.001579
Fog or mist           Frost or ice                     0.001073
unaccounted           unknown surface condition        0.000926
Snowing + high winds  Snow                             0.000831
Raining no high winds Flood over 3cm. deep             0.000829
                      Dry                              0.000828
Fog or mist           Dry                              0.000713
Other                 Snow                             0.000625
Raining no high winds Frost or ice                     0.000611
Raining + high winds  Flood over 3cm. deep             0.000440
unaccounted           Frost or ice                     0.000341
Fine + high winds     Frost or ice                     0.000277
Snowing + high winds  Wet or damp                      0.000253
                      Frost or ice                     0.000245
Fine no high winds    Flood over 3cm. deep             0.000171
Raining no high winds Snow                             0.000160
Fine no high winds    unknown surface condition        0.000150
Raining + high winds  Dry                              0.000109
unaccounted           Snow                             0.000088
Snowing no high winds Dry                              0.000082
Raining + high winds  Frost or ice                     0.000079
Fog or mist           Snow                             0.000041
unaccounted           Flood over 3cm. deep             0.000029
Fine + high winds     Snow                             0.000029
Other                 Flood over 3cm. deep             0.000029
Raining + high winds  Snow                             0.000024
Fine + high winds     Flood over 3cm. deep             0.000023
Snowing no high winds Flood over 3cm. deep             0.000009
Other                 unknown surface condition        0.000009
Raining no high winds unknown surface condition        0.000006
Snowing + high winds  Dry                              0.000006
                      Flood over 3cm. deep             0.000005
Fine + high winds     unknown surface condition        0.000005
Fog or mist           Flood over 3cm. deep             0.000005
                      unknown surface condition        0.000003
Snowing + high winds  unknown surface condition        0.000000
Snowing no high winds unknown surface condition        0.000000
Raining + high winds  unknown surface condition        0.000000

<H1> Insight 14 </h1>
<h3> What is the impact of Weather Conditions on Accident Severity </h3>

In [78]:
vehicles_per_road = accident.groupby('Road_Type')['Number_of_Vehicles'].mean().reset_index()
vehicles_per_road = vehicles_per_road.sort_values('Number_of_Vehicles', ascending=False)
print(vehicles_per_road)

Accident_Severity      Fatal  Serious  Slight
Weather_Conditions
Fine + high winds        175     1245    7134
Fine no high winds      7100    72046  441739
Fog or mist               82      483    2963
Other                    165     1801   15184
Raining + high winds     145     1261    8209
Raining no high winds    848     9468   69380
Snowing + high winds       3      109     773
Snowing no high winds     36      565    5637
unaccounted              107     1239   12782

<h1> Insight 15</h1>
<h3>Severity Trends Over the Years (Time Series Analysis)</h3>
<h5></h5>

In [68]:
accident['Year'] = accident['Accident Date'].dt.year
severity_trend = accident.groupby('Year')['Accident_Severity'].value_counts(normalize=True).unstack()
severity_trend

Accident_Severity     Fatal   Serious    Slight
Year
2019               0.014903  0.133553  0.851544
2020               0.013723  0.135535  0.850742
2021               0.012577  0.134494  0.852929
2022               0.010726  0.130018  0.859257

<h1> Insight 16</h1>
<h3>Seasonal Accident Trends</h3>
<h5></h5>

In [69]:
accident['Month'] = accident['Accident Date'].dt.month
seasonal_trends = accident.groupby('Month').size().reset_index(name='Accident_Count')
seasonal_trends

    Month  Accident_Count
0       1           52872
1       2           49491
2       3           54086
3       4           51744
4       5           56352
5       6           56481
6       7           57445
7       8           53913
8       9           56455
9      10           59580
10     11           60424
11     12           51836

<h1> Insight 17</h1>
<h3>Do Accidents Spike at the End of the Month?</h3>
<h5></h5>

In [70]:
accident['Day'] = accident['Accident Date'].dt.day
end_of_month_accidents = accident[accident['Day'] >= 25].groupby('Day').size().reset_index(name='Accident_Count')
end_of_month_accidents

   Day  Accident_Count
0   25           19949
1   26           21168
2   27           21038
3   28           20707
4   29           20138
5   30           19573
6   31           11816

<h1> Insight 18</h1>
<h3> Trend of Fatal Accidents vs. Non-Fatal Accidents Over Time</h3>
<h5></h5>

In [71]:
fatal_vs_nonfatal = accident.groupby(['Year', 'Accident_Severity']).size().unstack().reset_index()
fatal_vs_nonfatal['Fatal_Percentage'] = (fatal_vs_nonfatal['Fatal'] / fatal_vs_nonfatal.sum(axis=1)) * 100
fatal_vs_nonfatal

Accident_Severity  Year  Fatal  Serious  Slight  Fatal_Percentage
0                  2019   2714    24322  155079          1.473927
1                  2020   2341    23121  145129          1.356229
2                  2021   2057    21997  139500          1.242337
3                  2022   1549    18777  124093          1.057764

<h1> Insight 19</h1>
<h3>Long-Term Impact of Weather Conditions on Accidents</h3>

In [72]:
weather_trend = accident.groupby(['Year', 'Weather_Conditions']).size().reset_index(name='Accident_Count')
weather_trend

    Year     Weather_Conditions  Accident_Count
0   2019      Fine + high winds            2545
1   2019     Fine no high winds          143876
2   2019            Fog or mist             857
3   2019                  Other            4083
4   2019   Raining + high winds            2959
5   2019  Raining no high winds           22835
6   2019   Snowing + high winds             146
7   2019  Snowing no high winds             680
8   2019            unaccounted            4134
9   2020      Fine + high winds            2861
10  2020     Fine no high winds          132513
11  2020            Fog or mist             981
12  2020                  Other            4265
13  2020   Raining + high winds            3130
14  2020  Raining no high winds           21984
15  2020   Snowing + high winds             201
16  2020  Snowing no high winds             719
17  2020            unaccounted            3937
18  2021      Fine + high winds            2097
19  2021     Fine no high winds          128526
20  2021            Fog or mist             788
21  2021                  Other            4502
22  2021   Raining + high winds            2386
23  2021  Raining no high winds           19682
24  2021   Snowing + high winds             254
25  2021  Snowing no high winds            1916
26  2021            unaccounted            3403
27  2022      Fine + high winds            1051
28  2022     Fine no high winds          115970
29  2022            Fog or mist             902
30  2022                  Other            4300
31  2022   Raining + high winds            1140
32  2022  Raining no high winds           15195
33  2022   Snowing + high winds             284
34  2022  Snowing no high winds            2923
35  2022            unaccounted            2654

<h1> Insight 20</h1>
<h3> What is the Correlation Between Weather and Severe Accidents</h3>

In [73]:
weather_severity = accident.groupby(['Weather_Conditions', 'Accident_Severity']).size().unstack().reset_index()
weather_severity

Accident_Severity     Weather_Conditions  Fatal  Serious  Slight
0                      Fine + high winds    175     1245    7134
1                     Fine no high winds   7100    72046  441739
2                            Fog or mist     82      483    2963
3                                  Other    165     1801   15184
4                   Raining + high winds    145     1261    8209
5                  Raining no high winds    848     9468   69380
6                   Snowing + high winds      3      109     773
7                  Snowing no high winds     36      565    5637
8                            unaccounted    107     1239   12782